<?xml version="1.0"?>
<OIDC>
    <provider name="Keycloak">
        <url>https://central.test.aaf.edu.au/</url>
        <client_id>ca89bde6-db9c-4ea3-ab1e-2ccaa7fe6261</client_id>
        <client_secret>2Bcds8rfDNMnuAz8bkOY720AlYR7y9qPrct48mXj5Ls7kkhVXt3Lv6YwOB1m09QF9SxhqefjsJtfLoe7u5cFLasasg7lEXotAiM6Jc5DX7J8krhbPjd0IJR</client_secret>
        <redirect_uri>http://localhost:8080/authnz/keycloak/callback</redirect_uri>
        <well_known_oidc_config_uri>https://central.test.aaf.edu.au/.well-known/openid-configuration</well_known_oidc_config_uri>
        <icon>https://swift.rc.nectar.org.au/v1/AUTH_377/public/Galaxy/AAF_BTN_Sign_in_med_gradient_orange_FIN2020.png</icon>
    </provider>
</OIDC>
